*~
_*
*.o
*.d
*.asm
*.sym
*.img
vectors.S
bootblock
entryother
initcode
initcode.out
kernelmemfs
mkfs
kernel/kernel
user/usys.S
.gdbinit

# mp2
out
test/pseudo_fslab.c
test/pseudo_fslab.py
test/pseudo_fslab.pyx
test/check_cache.c
test/check_cache.py
test/check_cache.pyx
test/check_list.c
test/check_list.py
test/check_list.pyx
test/check_slab.c
test/check_slab.py
test/check_slab.pyx
test/build
test/private
tmp

test/run_mp2.py
# testing
/xv6_venv
test/fslab/tests/test_command.md
.pytest_cache
.coverage

# v2
test/fslab/tests/test_interpreter.py
test/fslab/tests/test_fuzz.py
test/fslab/tests/test_state_machine.py